<%= erb :"template/head"%>
<%= permissionNav %>
    <main>
	  <!--End of Slideshow-->
      <h1>Welcome Order!</h1>

        <h3>Orders</h3>
        <%= erb :"function/printOrders"%>
    </main>

<%= erb :"template/footer"%>