<body id="home">
  <div id="wrapper">
    <header>
      <h1>ğ’¯ğ’½ğ‘’ ğ’«ğ’¾ğ‘’ğ’¹ ğ’«ğ’¾ğ“…ğ‘’ğ“‡</h1>
    </header>

<!--Clickdown drop menu based on https://www.w3schools.com/howto/howto_js_dropdown.asp-->
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/about">About Us</a>
        <a href="/contactPage">Contact Us</a>
        <a href="/signIn">Sign In</a>
        <a href="/signUp">Sign Up</a>
      </div>
<!--End of Clickdown drop menu-->
  