<body id="home">
  <div id="wrapper">
    <header>
      <h1>ğ’¯ğ’½ğ‘’ ğ’«ğ’¾ğ‘’ğ’¹ ğ’«ğ’¾ğ“…ğ‘’ğ“‡</h1>
    </header>

<!--Clickdown drop menu based on https://www.w3schools.com/howto/howto_js_dropdown.asp-->
      <div class="navbar">
        <a href="/admin/home">Home</a>
        <a href="/admin/tweet">Tweets</a>
        <a href="/admin/order">Order</a>
        <a href="/admin/changeOffers">Offers</a>
          <a href="/admin/menu">Menu</a>
        <a href="/admin/changeCustomer">Customer</a>
        <a href="/admin/analytics">Analytics</a>
        <a href="/admin/history">History</a>
        <a href="/signOut">Sign Out</a>
      </div>
<!--End of Clickdown drop menu-->