 <footer> 
      <p>&copy; Group 31,  2018</p>
      <p>The University of Sheffield<br>
         Western Bank<br>
         Sheffield, S10 2TN<br>
         UK</p>
	  <p><a href="#" accesskey="t">Back to Top</a></p>
        
    </footer>
</body>
</html>