<body id="home">
  <div id="wrapper">
    <header>
      <h1>ğ’¯ğ’½ğ‘’ ğ’«ğ’¾ğ‘’ğ’¹ ğ’«ğ’¾ğ“…ğ‘’ğ“‡</h1>
    </header>

<!--Clickdown drop menu based on https://www.w3schools.com/howto/howto_js_dropdown.asp-->
      <div class="navbar">   
        <a href="/user/home">Home</a>
        <a href="/user/menu">Menu</a>
        <a href="/user/offers">Offers</a>
        <a href="/user/details">Details</a>
        <a href="/signOut">Sign Out</a>
      </div>